<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/classes/log4j.properties</param-value>
	</context-param>

	<servlet>
		<servlet-name>GoogleServiceAuthenticatorServlet</servlet-name>
		<servlet-class>org.pan.oauth.authentication.servlet.GoogleServiceAuthenticatorServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>GoogleServiceAuthorizationServlet</servlet-name>
		<servlet-class>org.pan.oauth.authentication.servlet.GoogleServiceAuthorizationServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>GoogleServiceAuthenticatorServlet</servlet-name>
		<url-pattern>/openid/request</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>GoogleServiceAuthorizationServlet</servlet-name>
		<url-pattern>/openid/callback</url-pattern>
	</servlet-mapping>
</web-app>